.footer {
    width: 100%;
    background-color: #005EB8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;

}

.footer-content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    gap: 30px;
}

.footer-section1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px; 
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px; 
}

.footer-section1 img {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.footer-section1 p {
    width: 332px;
    height: 75px;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    text-align: start;
}

.footer-section ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    padding: 0;
    gap: 43px;

}

.footer-section ul li {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
}

.newsletter-section {
    background-color:#0056A8 ;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 24px;
    max-width: 432px;
    height: 424px;
    margin: 0 auto;
}

.newsletter-section h2 {
    width: 85%;
    font-size: 22px;
    margin-bottom: 10px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
}

.newsletter-section p {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 20px;
}

.newsletter-form {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
}

.newsletter-form input {
    width: 85%;
    padding: 18px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 44px;
    font-size: 14px;
}

.newsletter-form input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.newsletter-form label {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 15px;
}

.newsletter-form label input {
    display: flex;
    align-items: center;
    width: fit-content;
    margin-right: 10px;
}

.newsletter-form button {
    background-color: #004C94;
    width: 95%;
    color: white;
    border: none;
    padding: 18px;
    font-size: 16px;
    border-radius: 44px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.newsletter-form button:hover {
    background-color: #0056b3;
}


@media screen and (max-width: 1175px) {
    .footer-content {
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
    }
    .newsletter-section {
        width: 95vw;
        margin:auto;
    }
    .footer-section1 {
        align-items: center;
        margin: auto;
    }
    .footer-section{
        flex-direction: column;
        margin: auto;
    }
    
}