.navbar {
  width: 100%;
  background-color: #F6F9FE;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 122px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 0;
}

.navbar-list {
  display: flex;
  justify-content: center;
  width: 100%;
  list-style: none;
  padding: 30px;
  gap: 20px;
  font-size: 18px;
  font-weight: 700;
  font-family: Atkinson Hyperlegible;
  color: #041E49;
}

.navbar-list a {
  text-decoration: none;
  font-family: Atkinson Hyperlegible;
  color: #041E49;
  position: relative;
}

.navbar-list a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #0060A8;
  transition: width 0.3s ease;
}

.navbar-list a:hover::after {
  width: 100%;
}

.navbar-list a:hover {
  color: #0060A8;
}

.navbar-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 47px;
  width: 233px;
  gap: 8px;
  margin-left: auto;
  margin-right: 150px;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-family: Atkinson Hyperlegible;
  color: #005EB8;
  align-items: center;
  gap: 8px;
  padding: 0 30px 0 0;
}

.menu-toggle span {
  font-size: 24px;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 122px;
  left: 0;
  width: 100%;
  background-color: #F6F9FE;
  padding: 20px;
  flex-direction: column;
  gap: 10px;
}

.mobile-menu.open {
  display: flex;
  position: fixed;
  top: 100px;
  z-index: 10;
  
}

.mobile-buttons {
  display: none;
  flex-direction: column;
  gap: 10px;
}

.mobile-links {
  display: none;
  flex-direction: column;
  list-style: none;
  gap: 10px;
}

.mobile-links a {
  text-decoration: none;
  font-family: Atkinson Hyperlegible;
  color: #041E49;
  font-size: 18px;
  font-weight: 700;
}

.mobile-links a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #0060A8;
  transition: width 0.3s ease;
}

/* .mobile-links a:hover::after {
  width: 100%;
} */

.mobile-links a:hover {
  color: #0060A8;
}

/* Media Queries */

@media (max-width: 1190px) {
  .navbar-buttons {
    display: none; /* Oculta los botones en la barra principal */
  }

  .menu-toggle {
    display: flex; /* Muestra el botón de hamburguesa */
  }

  .mobile-buttons {
    display: flex; /* Muestra los botones en el desplegable */
    align-items: center;
  }
  .navbar-list {
    font-size: 16px;
  }
  .navbar img {
    width: 220px;
  }
}

@media (max-width: 850px) {
  .navbar-list {
    display: none; /* Oculta los enlaces en la barra principal */
  }

  .mobile-links {
    display: flex; /* Muestra los enlaces en el desplegable */
    padding: 0px;
  }
}