.hero{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #F6F9FE;
    padding: 0px;
    margin: 0px;
}

.hero .hero-container{
    display: flex;
    justify-content: space-around;

    margin: auto;
}

.hero-text{
    display: flex;
    flex-direction: column;
    width: 453px;
    height: 436px;
    gap: 16px;
}

.hero-text h1{
    width: 100%;
    height: 236px;
    line-height: 59px;
    font-size: 54px;
    font-weight: 700;
    font-family: Atkinson Hyperlegible;
    color: #041E49;
    text-align: left;
    margin: 0px;
}

.hero-text h2{
    width: 100%;
    height: 90px;
    font-size: 21px;
    font-weight: 400;
    font-family: Atkinson Hyperlegible;
    color: #041E49;
    text-align: left;
    margin: 0px;
}

.hero-image {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 669px;
    height: 472px;
    position: relative; /* Añadido para posicionar correctamente los hijos */
  }
  
  .fondo {
    display: flex;
    position: relative;
    left: -42px;
    width: 564px;
    height: 472px;
    background-color: #005EB8;
    border-radius: 24px 0px 0px 24px;
    z-index: 1;
  }
  
  .cuadros {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 148px;
    position: relative; /* Asegura que el z-index funcione */
    z-index: 2; /* Coloca los cuadros por encima del fondo */
  }
  
  .cuadros img {
    position: relative;
    width: 148px;
    height: 148px;
    padding-top: 20px;
  }

  .persona{
      max-width: 750px;
      max-height: 450px;
      top: 57px;
      left: -632px;
      z-index: 2;
  }

  .persona img{
      width: auto;
      height: 450px;
  }

  .movil{
    position: relative;
    width: 240x;
    height: 435px;
    top: -20px;
    left: -726px;
    z-index: 1;
  }

  .qr {
    position: relative;
    width: 240px;
    height: 435px;
    top: 82px;
    left: -875px;
    z-index: 1;
  }

  @media screen and (max-width: 1190px) {
    .hero-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      }

      .hero-text h1{
        font-size: 40px;
      }

      .hero-text h2{
        font-size: 18px;
      }
      .persona img{
        width: auto;
        height: 300px;
    }

  }

  @media screen and (max-width: 650px) {
    .hero-text h1{    
      font-size: 35px;
    }

    .hero-text h2{
      font-size: 15px;
    }
    .persona img{
      width: auto;
      height: 290px;
    }
  } 